@model DataLayer.Page

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>آیااز حذف این خبر مطمین هستید؟</h3>
<div>
    <h4>اخبار</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.pagegroup.GruopTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pagegroup.GruopTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShortDiscription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShortDiscription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Visit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Visit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImageName)
        </dt>

        <dd>
            <img src="/PageImages/@Model.ImageName" class="thumbnail" style="max-width:110px;" />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShowInSlider)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShowInSlider)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>

        <dd>
            @Model.CreateDate.ToShamsi()
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="حذف" class="btn btn-danger" /> |
            @Html.ActionLink("بازگشت", "Index",null,new {@class="btn btn-primary" })
        </div>
    }
</div>
